<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yol Arkadaşım - Giriş Yap</title>
    {% load static %}  <!-- Statik dosyaları yüklemek için gerekli -->
    <link rel="stylesheet" href="{% static 'giris/style.css' %}">  <!-- Doğru yolu kullanın -->
    <!--
    alt shift f kodları düzenlemek için
    ctrl alt aşağı ok tuşu imleci arttırma
    ctrl d aynı değişkeni birden fazla yerde seçip değiştirmek için kullanılır
    -->
</head>
<body>
    <div class="signup-form">
        <h1>Giriş Yap</h1>

        <!-- İlk form: Giriş Yap -->
        <form method="post" action="{% url 'giris' %}">
            {% csrf_token %}
            <label for="username">Kullanıcı Adı:</label>
            <input type="text" id="username" name="username" placeholder="İsminiz" required class="txt">
            <br>
            <label for="password">Şifre:</label>
            <input type="password" id="password" name="password" placeholder="Şifre" required class="txt">
            <br>
            <button type="submit" name="giris" class="signup-btn">Giriş Yap</button>
        </form>

        <!-- Mesajların görüntüleneceği alan -->
        {% if messages %}
            {% for message in messages %}
                <p class="error-message">{{ message }}</p> <!-- Burada sınıf ekledik -->
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>
