<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Harita</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_GOOGLE_API_KEY&libraries=places"></script>
    <style>
        #map {
            height: 80vh;
            width: 100%;
        }
        #searchBox {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <input id="searchBox" class="controls" type="text" placeholder="Konum ara...">
    <div id="map"></div>

    <script>
        let map;
        let userMarker;
        const chargingStationMarkers = [];
        let selectedChargingStationMarker = null;
        const restaurantMarkers = []; // Restoran marker'larını saklamak için liste
        let currentInfoWindow = null; // Geçerli InfoWindow
        let lastPlace = null; // Search box ile en son seçilen konumu saklamak için

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 38.67449564910836, lng: 39.229410092443445 }, // Başlangıç merkezi
                zoom: 12,
            });

            // Arama kutusunu yerleştirme
            const input = document.getElementById('searchBox');
            const searchBox = new google.maps.places.Autocomplete(input);

            // Harita üzerinde arama sonuçlarıyla birlikte öneriler almak için
            searchBox.bindTo('bounds', map);

            // Arama kutusundan bir yer seçildiğinde
            searchBox.addListener('place_changed', () => {
                const place = searchBox.getPlace();

                if (!place.geometry) {
                    console.error("Geçersiz yer seçildi.");
                    return;
                }

                lastPlace = place.geometry.location; // En son seçilen konumu sakla

                // Haritayı bu yere odakla
                map.panTo(place.geometry.location);
                map.setZoom(15);

                // Kullanıcı marker'ını güncelle
                if (userMarker) {
                    userMarker.setMap(null); // Önceki marker'ı kaldır
                }
                userMarker = new google.maps.Marker({
                    position: place.geometry.location,
                    map: map,
                    title: place.name,
                    icon: "http://maps.google.com/mapfiles/ms/icons/red-dot.png", // Varsayılan kırmızı pin
                });

                // 5 km çapında şarj istasyonlarını yükle
                getNearbyChargingStations(place.geometry.location.lat(), place.geometry.location.lng(), 5000);
            });

            map.addListener('click', (event) => {
                placeMarker(event.latLng);
            });

            // Başlangıçta şarj istasyonlarını al
            getChargingStations();
        }

        function placeMarker(location) {
            // Kullanıcı marker'ını güncelle
            if (userMarker) {
                userMarker.setMap(null); // Önceki marker'ı kaldır
            }

            userMarker = new google.maps.Marker({
                position: location,
                map: map,
                title: "Kullanıcı Marker",
                icon: "http://maps.google.com/mapfiles/ms/icons/red-dot.png", // Varsayılan kırmızı pin
            });

            // Daha önceki restoran marker'larını temizle
            clearRestaurantMarkers();

            // Yeni bir kullanıcı marker'ı yerleştirildiğinde yakın şarj istasyonlarını getir
            getNearbyChargingStations(location.lat(), location.lng(), 5000); // 5 km yarıçapında
        }

        function getNearbyChargingStations(lat, lng, radius) {
            fetch(`/get-nearby-charging-stations/?lat=${lat}&lng=${lng}&radius=${radius}`)
                .then(response => response.json())
                .then(data => {
                    clearChargingStationMarkers();

                    data.stations.forEach(station => {
                        const marker = new google.maps.Marker({
                            position: { lat: station.latitude, lng: station.longitude },
                            map: map,
                            title: station.name,
                            icon: {
                                url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png", // Mavi pin
                            },
                        });

                        marker.addListener('click', () => {
                            selectChargingStation(marker, station);
                        });

                        chargingStationMarkers.push(marker);
                    });
                })
                .catch(error => console.error('Error fetching charging stations:', error));
        }

        function clearChargingStationMarkers() {
            chargingStationMarkers.forEach(marker => marker.setMap(null));
            chargingStationMarkers.length = 0;
        }

        function clearChargingStationMarkersExcept(selectedMarker) {
            chargingStationMarkers.forEach(marker => {
                if (marker !== selectedMarker) {
                    marker.setMap(null); // Seçili marker hariç diğerlerini kaldır
                }
            });
        }

        function clearRestaurantMarkers() {
            restaurantMarkers.forEach(marker => marker.setMap(null));
            restaurantMarkers.length = 0;
        }

        function selectChargingStation(marker, station) {
            if (selectedChargingStationMarker) {
                selectedChargingStationMarker.setIcon({
                    url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png",
                });
            }

            marker.setIcon({
                url: "http://maps.google.com/mapfiles/ms/icons/green-dot.png", // Seçili olan pin
            });
            selectedChargingStationMarker = marker;

            // Seçili istasyon hariç diğer şarj istasyonlarını kaldır
            clearChargingStationMarkersExcept(marker);

            // Yeni restoranları getirmeden önce önceki restoran pinlerini temizle
            clearRestaurantMarkers();

            // Restoranları al
            getNearbyRestaurants(station.latitude, station.longitude); // Restoranları almak için koordinatları kullanıyoruz
        }

        function getNearbyRestaurants(lat, lng) {
            const request = {
                location: new google.maps.LatLng(lat, lng),
                radius: 2000, // 2 km yarıçapında restoran arıyoruz
                type: ['restaurant']
            };

            const service = new google.maps.places.PlacesService(map);
            service.nearbySearch(request, (results, status) => {
                if (status === google.maps.places.PlacesServiceStatus.OK) {
                    results.forEach(restaurant => {
                        const restaurantMarker = new google.maps.Marker({
                            position: restaurant.geometry.location,
                            map: map,
                            title: restaurant.name,
                            icon: {
                                url: "http://maps.google.com/mapfiles/ms/icons/orange-dot.png", // Turuncu pin
                            },
                        });

                        // Place Details API kullanarak daha fazla bilgi alalım
                        const placeDetailsRequest = {
                            placeId: restaurant.place_id,
                            fields: ['name', 'formatted_address', 'formatted_phone_number', 'website'] // İlgili alanları talep ediyoruz
                        };

                        service.getDetails(placeDetailsRequest, (placeDetails, status) => {
                            if (status === google.maps.places.PlacesServiceStatus.OK) {
                                const phone = placeDetails.formatted_phone_number || 'Bilgi bulunamadı';
                                const website = placeDetails.website || 'Bilgi bulunamadı';
                                const address = placeDetails.formatted_address || 'Adres bulunamadı';

                                const infoWindowContent = `
                                    <div>
                                        <h4>${placeDetails.name}</h4>
                                        <p><strong>Adres:</strong> ${address}</p>
                                        <p><strong>Telefon:</strong> ${phone}</p>
                                        <p><strong>Web sitesi:</strong> <a href="${website}" target="_blank">${website}</a></p>
                                    </div>
                                `;

                                const newInfoWindow = new google.maps.InfoWindow({
                                    content: infoWindowContent,
                                });

                                restaurantMarker.addListener('click', () => {
                                    // Mevcut InfoWindow'ı kapat
                                    if (currentInfoWindow) {
                                        currentInfoWindow.close();
                                    }
                                    // Yeni InfoWindow'ı aç
                                    newInfoWindow.open(map, restaurantMarker);
                                    // Mevcut InfoWindow'ı güncelle
                                    currentInfoWindow = newInfoWindow;
                                });

                                restaurantMarkers.push(restaurantMarker); // Restoran marker'ını listeye ekle
                            }
                        });
                    });
                } else {
                    console.error('Restoranlar bulunamadı:', status);
                }
            });
        }

        function getChargingStations() {
            fetch('/get-nearby-charging-stations/?lat=38.67449564910836&lng=39.229410092443445')
                .then(response => response.json())
                .then(data => {
                    data.stations.forEach(station => {
                        const marker = new google.maps.Marker({
                            position: { lat: station.latitude, lng: station.longitude },
                            map: map,
                            title: station.name,
                            icon: {
                                url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png", // Mavi pin
                            },
                        });

                        marker.addListener('click', () => {
                            selectChargingStation(marker, station);
                        });

                        chargingStationMarkers.push(marker);
                    });
                })
                .catch(error => console.error('Error fetching initial charging stations:', error));
        }

        google.maps.event.addDomListener(window, 'load', initMap);
    </script>
</body>
</html>
