<!DOCTYPE html>
<html>
<head>
<title>Yol Arkadaşım</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
{% load static %}
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url("{% static 'hakkimizda/arac.png' %}"); /* Düzeltme: Tırnak işareti kapatıldı */
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
</head>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white ">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    <a href="https://www.google.com/"> Yol Arkadaşım </a>
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">
        <center>
            Biz Kimiz?
        </center>
    </h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">"Yol Arkadaşım" projesi, elektrikli araç kullanıcılarına seyahat sırasında veya öncesinde güzergah üzerindeki en yakın şarj istasyonlarını harita üzerinde gösterir. Hava durumu, trafik gibi faktörlere göre aracın kalan menzilini hesaplar ve şarj süresince yakınlardaki eğlence, konaklama, restoran gibi mekanları da kullanıcılara sunar. Proje, elektrikli araç sahiplerine en konforlu yolculuk deneyimini sağlamayı amaçlar.</p>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    
  </div>
</div>

</body>
</html>
