:root {
    --primary-blue: #00e1ff;
    --secondary-blue: #007bff;
    --dark-bg: #1a1f25;
    --light-text: #ffffff;
    --panel-bg: rgba(26, 31, 37, 0.9);
    --accent-color: #ff6b00;
    --gradient-primary: linear-gradient(45deg, var(--secondary-blue), var(--primary-blue));
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(rgba(26, 31, 37, 0.9), rgba(26, 31, 37, 0.9)), url('../resimler/arac.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--light-text);
    min-height: 100vh;
} 