body{
    margin: 0;
    padding: 0;
    background: url(resimler/arac.png)no-repeat center center fixed;
    background-size: cover;
    
    
    
    
}
.signup-form{
    width: 260px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    
   
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    background-color: #2b4264;
    
    
}
.signup-form h1{
    margin-top: 50px;
    color: #fff;
    font-size: 40px;
}
.signup-form input{
    display: block;
    width: 100%;
    padding: 0 16px;
    height: 44px;
    text-align: center;
    box-sizing: border-box;
    border: 2px  rgba(255, 255, 255, 0.7);
    background: rgba(255, 255, 255, 0.3);
    
    

}
.signup-form input::placeholder{
    color: #fff;
}
.txt{
    margin: 20px 0;
    border-radius: 6px;
}
.signup-btn{
    margin-top: 60px;
    margin-bottom: 20px;
    background: #538fef;
    color: #fff;
    border-radius: 44px;
    cursor: pointer;
    transition: 0.9s;
    display: block;    
}
.signup-btn:hover{
    transform: scale(0.96);
    background: #fff;
    color: #538fef;
}
.signup-form a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    transition: 0.8s;
    display: block;

}
.signup-form a:hover{
    color: yellow;
    transform: scale(0.96);
}